.row{
    display: flex;
    justify-content: center;
}
.bgcontent{
    background-color: #f0f0f7 !important;
}

/* .sidebarlinkactive{
    border-left:4px solid #a3a0fb;
    background: #36354a;
}
.sidebarlinkactive .fa{
    color:#a3a0fb !important;
} */
.dashboard{
    margin-left: 123px;
}

.arrowDown{
  color: red;
}
.fa.fa-circle{
    color: #a7a7a778;
    font-size: 20px;
}
.arrowUp{
  color: green;
}

.iconChart1{
    color: lightskyblue;
    margin-left: 140px;
}

.iconChart2{
    color: blueviolet;
    margin-left: 140px;
}

.iconChart3{
    color: limegreen;
    margin-left: 140px;
}
.projectwrapper .card{
    border-radius: 0;
}