
.flexauto{
    flex: auto
}
.flexone{
    flex: 1
}
.flextwo{
    flex: 2
}
#tests{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.selectwrapper{
    margin-top:-5px;
}
.executeselect{
    display: flex;
    font-family: 'Roboto', sans-serif;
}
#tests{
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #c7c7c7;
    width: 40%;
}
.caretselect{
    position: absolute;
    left: 25vw;
}
.caretselectexecute {   
    font-size: 22px;
}



/*====================================*/
/*EXECUTE PAGE CSS*/
/*====================================*/
.pr-9{
    padding-right: 9em !important;
}
.pr-10{
    padding-right: 10em !important;
}
.containerbody{
    background-color: #f0f0f7;
    padding-bottom: 100px;
}
.executebodywrapper{
    background: white;
    padding: 40px 50px 50px 20px;
    border: 1px solid #aaaaad; 
}

.forminputfield{
    border:
     none;
    border-bottom: 2px solid #a7a7a74d;
    border-radius: 0px;
}
.radiocontainer {
    font-size:14px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.labelbrand{
    color:#4d4f5c;
}
.executetable th{
    border-top:none;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: transparent;
}
.table-striped tbody tr:nth-of-type(even){
    background-color: rgba(0,0,0,.02);
}
.executetable thead th{
    color: #333333cf;
    font-size:14px;
    padding-bottom:0px;
}
.executetable td{
    font-family: 'Roboto', sans-serif;
    border-top: none;
    font-size:13px;
    padding:20px;
    color: #333333cf;
}
.fa.fa-trash.trashicon,.fa.fa-pencil.penicon{
    font-size:17px
}
.executebtn{
    border-radius: 0px;
    font-size:14px;
    padding: 10px 10px;
}
.executebtnsubmit{
   background-color: #3b86ff;
   border-color: #a3a0fb; 
}
.executebtnsch{
    background-color: #FF936A;
    border-color: #FF936A;
}
.executebtnsch:focus,.executebtnsch:hover{
    background-color: #f98356;
    border-color: #f98356;
}



/*========================*/
/*RESPONSIVE CODE*/
/*========================*/
@media (min-width:768px){
    .sidebar{
        width: 20rem!important;
    }
    .sidebar .nav-item .nav-link{
        width: 17rem!important;
    }
}