.loginpg{
    background-color:#43425d;
    overflow-y: visible;
    height: 100vh;
}
.flexauto{
    flex:auto;
}
.card-margin{
    
    margin-top: 3rem !important;
}
.form-container{
    height:70vh;
}
.form-div{
    max-height:100% !important;
    display:inline-block;
    margin-top:6rem;
    
}
.bg-logo-img{
    /* background-image:url("../asset/images/Royal-Cyber-Logo.svg"); */
    background-image:url(https://www.royalcyber.com/wp-content/uploads/2018/04/Royal-Cyber-Logo.svg);
    background-repeat: no-repeat;
    height:30px;
    width:100px; 
    padding-right: 14rem;   
    /* display:inline-block; */
    /* margin:0 auto; */
    /* margin-left:20px; */
    
}
.bg-login-image{
    background-image: url("../assets/images/loginpageimage.jpg");
    background-repeat: no-repeat;
    width:inherit;
    background-size:cover;

}
.form-input{
    margin: auto;
    width:300px;
}
.control-center{
    display:inline-block;
    text-align:center;
}
.control-inline{
    text-decoration: none;
    display:flex;
    justify-content: space-between;
    
}

.border-bottom-input{
    /* border-bottom:1px solid grey; */
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom:1px solid lightgray;
    border-radius: 0;
    font-size: x-small;
}

.login-btn{
    float:left;
    background-color:#43425d;
    font-size:small;
    padding: 5px 40px;
}
.small-txt{
    font-size:small;
}
.xsmall-txt{
    font-size:x-small;
}
.xxsmall-txt{
    font-size:xx-small
}
.bottom-note{
    /* margin-right:20px; */
    /* vertical-align: bottom; */
    position: absolute;
    bottom:0;
    display:flex;
    justify-content:space-between;
    width: 100%;
}
.text-grey{
    color:#b0afbb;

}
.checkbox-align{
    margin-top:7px;
    padding-left:0rem !important;

}