.cardBox{
    margin-left: 16px;
    padding-left: 30px;
    padding-top: 18px;
    padding-bottom: 50px;
    background-color: white;
    height: auto;
    /* border: 1px solid black; */
}

.scriptsLabel{
    font-weight: bold;
    font-size: 15px;
    color: #4e4c4c;    
    margin-bottom: 10px;
    margin-top: 20px;
}

.bodyTitle{
    margin-left: 15px;
}


.scriptForm{
    margin-top: 65px;
    width: 60%;
}

.scriptForm input{
    width:100%;
    font-size: 13px;
    border:none;
    border-bottom: 1px solid #e2dede;
    margin-bottom: 60px;
}
.scriptForm input::placeholder{
    padding-left: 15px;
    color: #e2dede;
}

.button {
  background-color: #3b86ff; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.btnRight {
    width: 20%;
}

.back span, .back .fa{
    font-size: 13px;
    cursor: pointer;
}
.back a{
    text-decoration: none;
    color: gray;

}





