.cardBox{
    margin-left: 16px;
    padding-left: 30px;
    padding-top: 18px;
    padding-bottom: 50px;
    background-color: white;
    height: auto;
    border: 1px solid black;
}

.scriptsLabel{
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #4e4c4c;    
    margin-left: -4px;
    margin-bottom: 10px;
}
.bodyTitle{
    margin-left: 15px;
}



.createScriptStageTitle{
    width: 90%;
    display: flex;
    border-bottom: 2px solid lightsteelblue;
    margin-top: 40px;
}


.createScriptStageTitle .activeLinkBox{
        border-bottom: 4px solid #0198E1; 	
}

.createScriptStageTitle .activeLink{
    color: black;
    font-weight: 600;
}

.createScriptStageTitle .visitedLink{
    color: darkslategray;
}

.createScriptStageTitle div{
    margin-right: 60px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.createScriptStageTitle a{
   text-decoration: none;
   color: #b0b7be;
   font-size: 13px;
}

.createScriptTiles{
    margin-top: 60px;
    width: 90%;
    display: flex;
    margin-left: 20px;
}

.createScriptTiles div{
    text-align: center;
    width: 20%;
    border: 1px solid black;
    background-color: rgb(235, 230, 230);
    background-color: aliceblue;
    height: auto;
    margin-right: 20px;
    padding: 20px;
    cursor: pointer;
}

.createScriptTiles div:last-child, .createScriptTileLabel div:last-child {
    margin-right: 0;
}

.createScriptTiles div.selected{
    background-color: rgb(88, 104, 104);
    color:white;
}

.createScriptTileLabel{
    width: 90%;
    display: flex;
    margin-left: 20px;
}

.createScriptTileLabel div{
    text-align: center;
    width: 20%;
    height: auto;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 15px;
    color: rgb(53, 50, 50);
}

.scriptForm{
    margin-top: 90px;
    width:60%;
}

.scriptForm input{
    width:100%;
    font-size: 13px;
    border:none;
    border-bottom: 1px solid #e2dede;
    margin-bottom: 60px;
}
.scriptForm input::placeholder{
    padding-left: 15px;
    color: #e2dede;
}

.button {
  background-color: #3b86ff; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.btnRight {
    width: 20%;
}

.back span, .back .fa{
    font-size: 13px;
    cursor: pointer;
}
.back a{
    text-decoration: none;
    color: gray;

}

/* .Btn {
    float: right;
    background-color: #3b86ff;
    width: 20%;
    margin-bottom: 15px;
    margin-right:-5px;
} */




