
.dashsidebar .nav-item .nav-link{
    color: white !important;
    font-weight: 300 !important;
}
.dashsidebar .nav-item .nav-link i{
    color: #b8b8c2 !important;
}
.sidebarlinkactive{
    border-left:4px solid #a3a0fb;
    background: #36354a;
}
.sidebarlinkactive .fa{
    color:#a3a0fb !important;
    font-weight: 600;
}
.brandtextcolor{
    color:#333
}

.project{
    margin-left: 123px;
}

.bodyHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 40px;
}



.cardRow{
    display: flex;
    justify-content: space-evenly;
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    height: 60vh;
}
.arrowDown{
  color: red;
}

.arrowUp{
  color: green;
}

/*bg-logo*/
.backgroundlogo{
    background: #36354a;
}


/*bg-side*/
.bgsidebar{
    background: #43425d;
}

.iconChart1{
    color: lightskyblue;
    margin-left: 140px;
}

.iconChart2{
    color: blueviolet;
    margin-left: 140px;
}

.iconChart3{
    color: limegreen;
    margin-left: 140px;
}

.button {
  background-color: #3b86ff; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.addProjectBtn {
    float: right;
    background-color: #3b86ff;
    width: 20%;
    margin-bottom: 15px;
    margin-right:-5px;
}
.addProjectBtn a{
    color:#fff;
}
.fa-user-plus{
    float: right;
    color: gray
}

.fa-ellipsis-v{
    float: right;
}

/* top bar */
.fa-circle{
    color: yellowgreen!important;
}

select{
width:25%;
border: none;
margin-left: 5px;
}

/*project-card design*/
.porjectcard{
    border: 1px solid #33333347;
}
.porjectcard .card-body{
    padding:10px;
    padding-left: 25px;
}
.porjectcard .cardtitle{
    font-size:18px;
}

/*projects select*/
#projects {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    font-size:12px;
}
.addprojectbodywrapper{
    background: #fff;
}
.addprojectbodywrapper .form-group input{
    border:none;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0;
}
.addprojectbodywrapper .form-group input::placeholder{
    color: #d9d9d9;
}
.createProjectBtn {
    background-color: #3b86ff;
    border-radius: 0px;
    padding:10px 30px;
}
.createProjectBtn a{
    color:#fff;
}