.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    /* padding: 15px 25px; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
/*   
  .addProjectBtn {
      float: right;
      background-color: #3b86ff;
      width: 20%;
      margin-bottom: 15px;
      margin-right:-5px;
  }
   */
  .orgtable{
      margin-left: 10px;
  }
  
  .orgtable th{
      border-top:none;
  }
  .table-striped tbody tr:nth-of-type(odd){
      background-color: transparent;
  }
  .table-striped tbody tr:nth-of-type(even){
      background-color: rgba(0,0,0,.02);
  }
  .orgtable tbody tr:nth-of-type(odd) td{
      padding-top:1.5em;
      padding-bottom:5px;
  }
  .orgtable tbody td{
    vertical-align: middle;
  }
  
  .orgtable thead th{
       border : none!important;
      font-weight: bold!important;
      color: #000000;
      font-size: 13px;
      background-color: rgba(0,0,0,.05);
      /* padding-left: 27px; */
  }
  
  .orgtable td span{
      font-family: 'Roboto', sans-serif;
      border-top: none;
      font-size:13px;
      color: #000000;
      /* padding-left: 27px; */
      font-weight: 500;
  }
  
  
  .orgtable td div{
      font-family: 'Roboto', sans-serif;
      border-top: none;
      /* padding-left: 27px; */
      font-size: 10px;
      color: gray;
  }
  
  .orgtable .addedOn{
      color: #808080;
      font-weight: bold;
      font-size: 11px;
  }

  .small-font-row{
    color: #808080;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
  }
  
  .orgtable .actionSuccess{
       font-weight: bold;
      font-size: 11px;
      color: white;
      background-color: #06d706;
      text-align: center;
  }
  
  .orgtable .actionFail{
      font-weight: bold;
      font-size: 11px;
      color: white;
      text-align: center;
      background-color: #ff0000a6;
  }
  
  .orgtable tr{
     
  padding-left: 5px;
  }
  
  /* .paginationStyles{
      float: right;
  } */
  
  .paginationStyles {
      float: right;
    display: inline-block;
  }
  
  .paginationStyles a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .paginationStyles a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .paginationStyles a:hover:not(.active) {background-color: #ddd;}
  
  
  
  
  
  .fa.fa-trash.trashicon,.fa.fa-pencil.penicon{
      font-size:17px
  }
  .penicon{
      color: navy;
  }
  .trashicon{
      color:red
  }
  
  .cardRow{
      padding-top: 18px;
      padding-bottom: 50px;
      background-color: white;
      height: auto;
  }
  
  .scriptsLabel{
      font-weight: 500;
      font-size: 15px;
      color: black;    
      margin-left: 25px;
      margin-bottom: 10px;
  }
  
  .scriptsTable{
    margin-left: -9px;  
  }

  
  
  
  