.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.left{
    transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.uploadImage-dimensions{
    width:30px;
}
.btn-scenario{
    background-color:#43425d;
    color:white;
    font-weight: bold;
    border:none;
    border-radius:0px;
    padding: 20px 27px;
    
}
/* .col-scenario{
    
    padding-right:-10px;
    
} */
.pie-div{
    width:150px;
    height:150px;
    
}

.passedCircle{
    height: 10px;
    width: 10px;
    background-color: white;
    border:2px solid #5fe3a1;
    border-radius: 50%;
    display: inline-block;
  }
  .failedCircle{
    
        height: 10px;
        width: 10px;
        background-color: white;
        border:2px solid #ff8373;
        border-radius: 50%;
        display: inline-block;
      }
 .skippedCircle {
        height: 10px;
        width: 10px;
        background-color: white;
        border:2px solid #ffda83;
        border-radius: 50%;
        display: inline-block;
      }
 .list-inline{
     list-style: none;
     display:inline;
     font-size: 12px;
     font-weight:bold;
     margin-left:-10px;
 }
 .list-inline li{
     margin-bottom:20px;
     
 }
 .list-inline span{
    margin-right:3px;
 }
.pie-status{
    /* display:inline; */
    margin-top:-100px;
    
    float:right;
    box-sizing: border-box;
}
.div-margin{
    margin-top:20px;
}
.orgtable td{
    border : none!important;
    font-weight: bold!important;
    color: #000000;
    font-size: 13px;
    background-color: rgba(0,0,0,.05);
    padding: 0px 10px;
    vertical-align: middle;
    
}
/* Results page css */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    /* padding: 15px 25px; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
 
/*   
  .addProjectBtn {
      float: right;
      background-color: #3b86ff;
      width: 20%;
      margin-bottom: 15px;
      margin-right:-5px;
  }
   */
  .orgtable{
      border-collapse: separate;
      border-spacing:0 16px;
  }
  .orgtable tr td:first-child{
        width:15%;
        font-size:18px;
  }
  .orgtable tr td:nth-child(2){
        width:20%;
        font-size:18px;
  }
   
  .orgtable th{
      border-top:none;
  }

  .orgtable thead th{
       border : none!important;
      font-weight: bold!important;
      color: #000000;
      font-size: 13px;
      background-color: rgba(0,0,0,.05);
      /* padding-left: 27px; */
  }
  
  /* .orgtable td span{
      font-family: 'Roboto', sans-serif;
      border-top: none;
      font-size:13px;
      color: #000000;
      
      font-weight: 500;
  }
   */
  
  /* .orgtable td div{
      font-family: 'Roboto', sans-serif;
      border-top: none;
      
      font-size: 10px;
      color: gray;
  } */
  
  .orgtable .addedOn{
      color: #808080;
      font-weight: bold;
      font-size: 11px;
  }

  .small-font-row{
    color: #808080;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
  }
  
  .orgtable .actionSuccess{
    font-size: 14px;
    font-weight: 300;
    color: white;
    display: inline-block;
    background-color: #81de44;
    text-align: center;
    padding: 5px 20px;
  }
  
  .orgtable .actionFail{
    font-size: 14px;
    font-weight: 300;
    color: white;
    display: inline-block;
    text-align: center;
    background-color: #cc0000;
    padding: 5px 20px;
  }
  
  /* .orgtable tr{
     margin-top:5px;
    padding-left: 2px;
  } */
  
  /* .paginationStyles{
      float: right;
  } */
  
  .paginationStyles {
      float: right;
    /* display: inline-block; */
  }
  
  .paginationStyles a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .paginationStyles a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .paginationStyles a:hover:not(.active) {background-color: #ddd;}
  
  
  
  
  
  .fa.fa-trash.trashicon,.fa.fa-pencil.penicon{
      font-size:17px
  }
  .penicon{
      color: navy;
  }
  .trashicon{
      color:red
  }
  
  .cardRow{
      padding-top: 18px;
      padding-bottom: 50px;
      background-color: white;
      height: auto;
  }
  
  .scriptsLabel{
      font-weight: 500;
      font-size: 15px;
      color: black;    
      margin-left: 25px;
      margin-bottom: 10px;
  }
  
  .scriptsTable{
    margin-left: -9px;  
  }

  
  
  
  