/*dashboard css*/
.sidebarlinkactive{
    border-left:4px solid #a3a0fb;
    background: #36354a;
}
.sidebarlinkactive .fa{
    color:#a3a0fb !important;
}
.dashboard{
    margin-left: 123px;
}

.fa.fa-circle{
    color: #a7a7a778;
    font-size: 20px;
}

    
/* sidebar */
embed{
     pointer-events: none;
}

/* topbar */

select{
width:25%;
border: none;
margin-left: 5px;
}


/*bg-logo*/
.backgroundlogo{
    background: #36354a;
}


/*bg-side*/
.bgsidebar{
    background: #43425d;
}

.dashsidebar .nav-item .nav-link span{
    font-weight: 300;
}

/*dasboard select*/
#projects {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    font-size:12px;
}

/*caretselect*/
.caretselect{
    position: absolute;
    left: 15vw;
}

.backgroundlogo{
    background: #36354a;
}


/*bg-side*/
.bgsidebar{
    background: #43425d;
}
/*====================================*/
/*SETTING PAGE CSS*/
/*====================================*/
.pr-9{
    padding-right: 9em !important;
}
.pr-10{
    padding-right: 10em !important;
}
.containerbody{
    background-color: #f0f0f7;
    padding-bottom: 100px;
}
.orgbodywrapper{
    background: white;
    padding: 20px 50px 
}

.forminputfield{
    border: none;
    border-bottom: 2px solid #a7a7a74d;
    border-radius: 0px;
}
.radiocontainer {
    font-size:14px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#organizationname::placeholder,#organizationemail::placeholder,#organizationpassword::placeholder{
    color:#a7a7a78a;
}
/* Hide the browser's default radio button */
.radiocontainer input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    border: 3px solid #00a5ff;
    top: 0px;
    left: -30px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .checkmark {
    background-color: aqua;
}
/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .checkmark {
    background-color: white;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiocontainer .checkmark:after {
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #00a5ff;
}

.btnsubmit{
    background-color: #3b86ff;
    color:white;
    padding:10px 70px;
}
.btnsubmit:hover{
    background-color: #00a5ff;
    color:white;
}

.orgtable th{
    border-top:none;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: transparent;
}
.table-striped tbody tr:nth-of-type(even){
    background-color: rgba(0,0,0,.02);
}
.orgtable thead th{
    color: #333333cf;
    font-size:14px;
}
.orgtable td{
    font-family: 'Roboto', sans-serif;
    border-top: none;
    font-size:13px;
    color: #333333cf;
}
.fa.fa-trash.trashicon,.fa.fa-pencil.penicon{
    font-size:17px
}
.penicon{
    color: navy;
}
.trashicon{
    color:red
}

.sidebar-dark .nav-item.active .nav-link i{
    color :#b8b8c2 !important;
}


/*========================*/
/*RESPONSIVE CODE*/
/*========================*/
@media (min-width:768px){
    .sidebar{
        width: 20rem!important;
    }
    .sidebar .nav-item .nav-link{
        width: 17rem!important;
    }
}